
@{
    ViewBag.Title = "Index";
}
<style>
.p
{
    margin-bottom:5px;
}


</style>

<h2 style="text-align: center">Connor Haigh</h2>


<body>
    <div id="Info">
        <p style="text-align:center">
            716 Crystal Creek Place • Edmond, OK 73034 • 678-899-2022 • connor.haigh1978@gmail.com
        </p>
    </div>
    <div id="Education" style="margin-bottom:5px">
        <b>Education</b>
        <hr />
        <p class="p"><b>University of Oklahoma, Norman, OK</b> - Expected May 2022</p>
        <ul>
            <li>Major: Management Information Systems and Finance</li>
            <li>GPA: 3.89 — OU Dean’s Honor Roll 2018 and 2019 Academic Year – Major GPA: 4.0</li>
        </ul>
        <p class="p"><b>Meramec Community College, Kirkwood, MO</b> - August 2017 – May 2018</p>
        <ul>
            <li>
                Concurrent Enrollment
            </li>
            <li>
                GPA: 4.0 — 2017 Meramec Dean's list
            </li>
        </ul>

    </div>
    <div id="Leadership">
        <b>Leadership</b>
        <hr />
        <p class="p"><b>President</b> - Oklahoma RUF/NEKS, Norman, OK - August 2018 – Present</p>
        <ul>
            <li>Worked with fellow RUF/NEKS to plan and prepare for sporting events, including preparation of the iconic Sooner Schooner and ponies for game days and community events</li>
            <li>Engaged in weekly RUF/NEK meetings with the school Spirit Director to plan and prepare for sporting and community events</li>
            <li>Participated in a variety of community events and outreach events, including television and radio interviews to promote the school brand</li>
        </ul>
        <p class="p">
        <b>Director of Publicity</b> - Couch Resident Student Association, Norman, OK  - August 2018 – May 2019
        </p>
    </div>
</body>
