
@{
    ViewBag.Title = "Index";
}
<style>
.p
{
    margin-bottom:5px;
}


</style>

<h2 style="text-align: center; margin-top:25px;">Connor Haigh</h2>


<body>
    <div id="Info">
        <p style="text-align:center">
            716 Crystal Creek Place • Edmond, OK 73034 • 678-899-2022 • connor.haigh1978@gmail.com
        </p>
    </div>
    <div id="Education" style="margin-bottom:5px">
        <h4>Education</h4>
        <hr />
        <p class="p"><b>University of Oklahoma, Norman, OK</b> - Expected May 2022</p>
        <ul>
            <li>Major: Management Information Systems and Finance</li>
            <li>GPA: 3.89 — OU Dean’s Honor Roll 2018 and 2019 Academic Year – Major GPA: 4.0</li>
        </ul>
        <p class="p"><b>Meramec Community College, Kirkwood, MO</b> - August 2017 – May 2018</p>
        <ul>
            <li>
                Concurrent Enrollment
            </li>
            <li>
                GPA: 4.0 — 2017 Meramec Dean's list
            </li>
        </ul>

    </div>
    <div id="Leadership">
        <h4>Leadership</h4>
        <hr />
        <p class="p"><b>President</b> - Oklahoma RUF/NEKS, Norman, OK - August 2018 – Present</p>
        <p style="margin-bottom:5px;">The RUF/NEKS serve as ambassadors of the University of Oklahoma, including the upkeep of crowd enthusiasm across a variety of sports and promoting school spirit on campus and in the community</p>
        <ul>
            <li>Worked with fellow RUF/NEKS to plan and prepare for sporting events, including preparation of the iconic Sooner Schooner and ponies for game days and community events</li>
            <li>Engaged in weekly RUF/NEK meetings with the school Spirit Director to plan and prepare for sporting and community events</li>
            <li>Participated in a variety of community events and outreach events, including television and radio interviews to promote the school brand</li>
        </ul>
        <p class="p">
        <b>Director of Publicity</b> - Couch Resident Student Association, Norman, OK  - August 2018 – May 2019
        </p>
        <p style="margin-bottom:5px">Elected by student residents as Director of Publicity for the Couch Resident Student Association</p>
        <ul>
            <li>Developed and implemented marketing plans to raise awareness for Couch Resident Tower events</li>
            <li>Managed the Couch Resident Student Association office which supported student resident housing needs</li>
        </ul>
    </div>
    <div id="Experince">
        <h4>Experince</h4>
        <hr />
        <p class="p"><b>Garden Associate</b> - Home Depot, Edmond, OK - May 2020 – August 2020</p>
        <ul>
            <li>Greeted customers and helped them find lawn and garden products that meet their needs</li>
        </ul>
        <p class="p"><b>Data Analyst Intern</b> Hussmann Corporation, Bridgeton, MO -  May 2019 – August 2019</p>
        <p style="margin-bottom:5px">Hussmann Corporation is a global manufacturer and servicer of commercial refrigeration</p>
        <ul>
            <li>Responsible for data analysis across a broad variety of projects and initiatives, including:</li>
            <ul>
                <li>Analysis of IT incident tickets with a focus on improving service completion time</li>
                <li>Used SQL and Python for data manipulation and created an interactive Power BI dashboard</li>
                <li>Created a data process flow for service calls from multiple data sources using SQL and Python</li>
                <li>Remediated broken MS Excel and MS Access macros for the Finance department</li>
            </ul>
            <li>Shark Tank Award Winner</li>
            <ul>
                <li>Participated with a team of interns to develop and present to leadership an award-winning innovative business concept to deliver perishable food items to college campuses</li>
            </ul>
        </ul>
        <p class="p"><b>Cashier and Food Preparer</b> - Einstein's Bros Bagels and Coffee Corners, Norman, OK - January 2019 – March 2020 </p>
        <ul>
            <li>Prepared customer food and beverage orders while maintaining cleanliness standards</li>
        </ul>

    </div>
    <div id="Experintal Learning">
        <h4>Experintal Learning</h4>
        <hr />
        <p class="p"><b>Pen Pal</b> - Student Hero, Norman, OK - September 2018 – May 2019</p>
        <ul>
            <li>Volunteered in Student Hero sponsored community service events on campus</li>
            <li>Wrote letters to elementary school student pen pals in Keller, Texas</li>
        </ul>
        <p class="p">
            <b>Marketing Volunteer</b> - Turpentine Creek Wildlife Refuge, Eureka Springs, AR -  June 2017 – July 2018
        </p>
        <ul>
            <li>Resident volunteer for Turpentine Creek Wildlife Refuge, a refuge for neglected and abused big cats</li>
            <li>Responsible for supporting the Marketing Department, including packing and distributing marketing materials and promoting TCWR’s mission to local businesses and community members</li>
        </ul>
    </div>
</body>
